$breakpoint-xxsmall: '(min-width: 360px)';
$breakpoint-xsmall: '(min-width: 480px)';
$breakpoint-small: '(min-width: 736px)';
$breakpoint-medium: '(min-width: 980px)';
$breakpoint-large: '(min-width: 1280px)';
$breakpoint-xlarge: '(min-width: 1680px)';